@media(max-width: 767px){
    .item-wrapper>li a {
        text-align: center;
        gap: 10px;
        flex-direction: column;
    }
    .post-item a img {
        width: 100%;
    }
    .post-item .post-info-wrapper{
        padding-right: 0;
    }
    .header-mobile {
        margin-bottom: 10px;
    }
    .header .mobile-header-top {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    a.logo.logo_desk {
        display: none;
    }
    .navigation{
        display: none;
    }
    .header-left {
        gap: 10px;
        align-items: center;
        display: flex;
    }
    .logo_mobile img {
        height: 100%;
        max-width: 25px;
    }
    .bar.menu_mobile i{
        font-size: 20px;
    }
    .navigation.navigation_mb{
        display: block;
        float: unset;
        margin-top: 30px;
    }
    .logo_mobile,.bar.menu_mobile {
        display: block;
    }
}